@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@700;800&display=swap');

:root {
    --blue-color1: #051923;
    --blue-color2: #006494;
    --blue-color3: #edf6f9;
    --white-color: #fff;
    --gray-color1: #333;
    --gray-color2: #5f5f5f;
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    padding: 10px;
    background: var(--blue-color1);
    color: var(--white-color);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.name-logo {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 17pt;
    letter-spacing: 0.2rem;
    color: var(--blue-color3);
}

span {
    padding: 1rem;
}

.nav-list,
.nav-list-mobile {
    display: flex;
    gap: 3rem;
    padding: 1rem;
    font-weight: 400;
}

.nav-list-item {
    list-style: none;
    cursor: pointer;
    transition: 0.3s;
}

.nav-list-item a {
    text-decoration: none;
    color: var(--blue-color3);
}

.nav-list-item:hover {
    color: var(--gray-color2);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.technologies {
    padding: 3rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.technologies h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color1);
    max-width: 20%;
    padding: 0.3rem;
    color: var(--white-color);
    border-radius: 0.4rem;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.logo {
    width: 7%;
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    padding: 1rem;
    background: var(--blue-color1);
    color: var(--white-color);
}

.contact div {
    display: flex;
    gap: 1.5rem;
}

.contact div a {
    font-size: 20pt;
    transition: 0.3s;
    color: var(--white-color);
    cursor: pointer;
}

.contact div a:hover {
    font-size: 23pt;
    color: var(--gray-color2);
}

.contact div a {
    text-decoration: none;
}

.contact p {
    font-weight: 600;
}

.btn-nav {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    background: none;
    color: var(--blue-color3);
}

.nav-list-item.active a {
    color: var(--gray-color2);
    border-bottom: 3px solid var(--blue-color2);
}

@media (max-width: 600px) {
    .nav-list {
        display: none;
    }

    .technologies h2 {
        max-width: 70%;
    }

    .logo {
        width: 15%;
    }

    .btn-nav {
        display: flex;
    }
}

@media (max-width: 930px) {
    .technologies h2 {
        max-width: 42%;
    }
}

@media (max-width: 480px) {
    .technologies h2 {
        max-width: 60%;
    }
}